#myVideo{
height:100%;
position:absolute;
top:0;
left:0;
}

body{
background-color:black;
margin:0;
}

#headi{
position:absolute;
left:0px;
top:150px;
color:white;
}

#score{
position:absolute;
top:190px;
left:0px;
color:white;
}

#time,#headin{
color:white;
}

#playground{
position:absolute;
top:100px;
left:270px;
width:950px;
height:500px;
background-color:#202020;
box-shadow:5px 5px 5px black;
}

.blocks{
position:absolute;
top:0px;
width:20px;
height:20px;
border:outset 3px red;
background-color:red;
}

#ball{
width:20px;
height:20px;
border-radius:100%;
background-color:yellow;
}

#final{
opacity:0;
position:absolute;
top:10%;
left:28%;
z-index:1;
color:white;
font-size:100px;
}

#poin{
font-size:60px;
position:absolute;
top:50%;
left:25%;
}
